

<% if session[:user_id] %>
<h2> Bienvenue a mon projet de gossips </h2> 
<br/>
    <% if @gossips.length>0 %>
    <% @gossips.each do |gossip| %>
    <div> Titre: <%=gossip.title %> </div> 
    <div> Contenu: <%=gossip.content %></div> 
    <div> <%=link_to "voir le gossip",find_gossip_url(gossip.id) %></div> 
     <div> <%=link_to "voir l'auteur",find_author_url(gossip.user.id) %>  </div>  
     <div> <%=link_to "liker ce potin",like_gossip_url(gossip.id) %> Nombre de Likes: <span> <%=gossip.likes.length %> </span></div>
     <% if gossip.user.id==session[:user_id] %>
        <div> <%=link_to "editer le potin",edit_gossip_url(gossip.id) %> </div>
        <div> <%=link_to "supprimer le potin",delete_gossip_url(gossip.id) %> </div> 
        
     <% end %>
    <br/> 
    <% end %> 
    <% else %>
    <h2>  Pas Encore de Potins Ecrit </h2>
    <% end %> 
    <h4> Vous voulez ecrire un Potin ? </h4> 
    <div> <%=link_to "ecrire un potin",create_gossip_url %> </div>
  

<% else %>
<h2> Bienvenue a la page d'accueil, viullez vous inscrire ou vous connectez si vous avez deja un compte ! </h2>


<% end %>




