<h2> This is the signin page </h2>

<%= form_with url:signin_action_url , method: :post do |form| %>


<div> 
     <%= form.label :email, "Votre Email" %>
     <%= form.email_field :email %> 
</div> 

<div> 
     <%= form.label :password, "Votre Mot De Passe" %>
     <%= form.password_field :password %> 
</div> 
<div> 
 

  <%= form.submit "Search" %>
<% end %>